<h2>Login as a User</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= button_to user.name, login_users_path, params: {user_id: user.id} %></li>
  <% end %>
</ul>


<%= link_to 'Add User', new_user_path %>
